<div class="pure-g-r">
<%  
	var days_array = ["Sunday", "Monday, July 28th 2014", "Tuesday, July 29th 2014", "Wednesday, July 30th 2014", "Thursday", "Friday", "Saturday"];

	for(d in days){
	var day = days[d];
	if(day.length > 0){ %>
		
		<div class="pure-u-1">
			<h3 class="weekday"><%= days_array[d] %></h3>
			<%  for(s in day){
				var session = day[s];
			%>

					<div class="session pure-g-r">
						<p class="pure-u-1-3 title">
							<%= session.title %>
						</p>
						<p class="pure-u-1-3 location">
							<%= session.location %>
						</p>	
						<p class="pure-u-1-3 time">
							<i class="fa fa-clock-o"></i> <%= session.start %> - <%= session.end %></span>
						</p>
					</div>
			<% } %>
		</div>
<% } } %>
</div>

				
