<% for(var i=0; i<parties.length; i++){ 
	var party = parties.length;
	%>
	
	<div class="party">
		<h2><%= party.title %></h2>
		<p class="time"><%= party.times.rendered %></p>
		<div class="hero">
			<img src="<%= party.hero_img %>" alt="Party Hero Image" />
		</div>
		<div class="party_map">		
			<a href="<%= party.map_link %>" title="Click to view interactive map"><img src="<%= party.map_img %>" alt="Party Location" /></a>
		</div>
	</div>

<% } %>

<!-- 
	google static map image api
		https://developers.google.com/maps/documentation/staticmaps/index 

		http://maps.googleapis.com/maps/api/staticmap
			?center=1441+Woodward+Ave,+Detroit,+Michigan+48226
			&zoom=14
			&size=600x300
			&maptype=roadmap
			&markers=
				color:blue %7C 
				label:S %7C
				42.334738,-83.049256
			&sensor=false
-->