<% 

for(var i=0; i<parties.length; i++){ 
	var party = parties[i];
	var partial = "partial";
	if(typeof(party.yelpID) != "undefined"){ 
		partial = ""; 
	}
	%>
	
	<div class="party <%= partial %> pure-g-r">
		<div class="meta pure-u-1">
			<h2><%= party.name %></h2>
			<h3><%= party.yelp_name %></h3>
			<p class="what">{ <% for(activity in party.what){ %><%= party.what[activity] %><% if(activity < party.what.length -1){ %>, <% } } %> }</p>
		<p ><%= party.when %> <br/><a href="<%= party.url %>"><%= party.where %></a></p>
		</div>
		
		
		<% if(partial.length <= 0){ %>
			<div class="hero pure-u-1-2" style="background-image: url('<%= party.image %>');"></div>
			<div class="party_map pure-u-1-2" id="party_map_<%= i %>"></div>
		<% } %>
	</div>
<% } %>

<!-- 
	google static map image api
		https://developers.google.com/maps/documentation/staticmaps/index 

http://maps.googleapis.com/maps/api/staticmap?center=42.3362303,+-83.0491634&zoom=14&size=600x300&maptype=roadmap&markers=color:blue %7Clabel:S %7C42.3362303,-83.0491634&sensor=false
		
-->
