<div class="venue pure-g-r">
  <div class="meta pure-u-1">
    <h2>API Craft Hypermedia Panel & Hackathon</h2>
    <h3>Where are hypermedia APIs headed?</h3>
    <p >Monday, July 28th at 1:00 pm<br/><a href="http://www.yelp.com/biz/grand-circus-detroit">Grand Circus</a></p>
  </div>			
  <div class="hero pure-u-1-2" style="background-image: url('/images/grand-circus.jpg');"></div>
  <div class="party_map pure-u-1-2" id="venue_map_1"></div>
  <p class="pure-u-1"><a href="http://www.yelp.com/map/grand-circus-detroit">1570 Woodward Ave, Detroit, MI 48226</a></p>
  <p class="pure-u-1">A <a href="http://en.wikipedia.org/wiki/HATEOAS">Hypermedia</a> Panel and Hackathon</p>
</div>
<div class="venue pure-g-r">
  <div class="meta pure-u-1">
    <h2><%= venue.name %></h2>
    <h3><%= venue.theme %></h3>
    <p >Tuesday, July 29th - Wednesday, July 30th, 2014 at 8:00 am<br/><a href="http://www.yelp.com/biz/waterview-loft-at-port-detroit-detroit"><%= venue.location.display_name %></a></p>
  </div>			
  <div class="hero pure-u-1-2" style="background-image: url('/images/<%= venue.image %>');"></div>
  <div class="party_map pure-u-1-2" id="venue_map_2"></div>
  <p class="pure-u-1"><a href="http://www.yelp.com/map/waterview-loft-at-port-detroit-detroit"><%= venue.location.display_address[0] %>, <%= venue.location.display_address[2] %></a></p>
  <p class="pure-u-1">An <a href="http://en.wikipedia.org/wiki/Open-space_technology">Open Space Conference</a></p>
</div>