<% 
for(var i=0; i < venues.length; i++){
  var venue = venues[i];
  %>
  <div class="venue pure-g-r">
    <div class="meta pure-u-1">
      <h2><%= venue.name %></h2>
      <h3><%= venue.theme %></h3>
      <p ><%= venue.start %> - <%= venue.end %><br/><a href="<%= venue.yelp_url %>"><%= venue.location.display_name %></a>
        <br/><a href="<%= venue.yelp_url %>"><%= venue.location.display_address[0] %>, <%= venue.location.display_address[2] %></a></p>
    </div>			
    <div class="hero pure-u-1-2" style="background-image: url('/images/<%= venue.image %>');"></div>
    <div class="party_map pure-u-1-2" id="venue_map_<%= venue.identifier %>"></div>
  </div>

    <% } %>
